{% extends 'core/base.html' %}
{% load static %}
{% block title %}Idatzi pasahitza berria{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Idatzi pasahitza berria</h3>
            <p>Sartu pasahitza zaharra, eta ondoren sartu bi aldiz pasahitz berria.</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Idatzi pasahitz berria"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Errepikatu pasahitz berria"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Aldatu pasahitza"></p>
          </form>
        {% else %}
          <h3 class="mb-4">Pasahitza ez da behar bezala aldatu</h3>
          <p>Pasahitza aldatzeko link okerra. Eskatu berriz mesedez <a href="{% url 'password_reset' %}">hemen</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}