{% extends 'core/base.html' %}

{% load static %}

{% block title %}Hasiera{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<style>
    body {
        padding: 5;
        margin: 0;
    }
    html, body {
        height: 60%;
        width: 100vw;
    }
    #map {
  position: relative;
  border: 1px solid black;
  border-radius: 0px;
  height: 350px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}
</style>
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>
<div id="map"></div>
<div class="p-5 mb-4 bg-light rounded-5">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="container">
          <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="{{ biketravel.image1.url }}" style="width:60%">
          </div>

          <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="{{ biketravel.image2.url }}" style="width:60%">
          </div>

          <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="{{ biketravel.image3.url }}" style="width:60%">
          </div>

          <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="{{ biketravel.image4.url }}" style="width:60%">
          </div>

          <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="{{ biketravel.image5.url }}" style="width:60%">
          </div>

          <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="{{ biketravel.image2.url }}" style="width:60%">
          </div>

          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>

          <div class="caption-container">
            <p id="caption"></p>
          </div>

          <div class="row">
            <div class="column">
              <img class="demo cursor" src="{{ biketravel.image1.url }}" style="width:100%" onclick="currentSlide(1)" alt="{{biketravel.title}}">
            </div>
            <div class="column">
              <img class="demo cursor" src="{{ biketravel.image2.url }}" style="width:100%" onclick="currentSlide(2)" alt="{{biketravel.title}}">
            </div>
            <div class="column">
              <img class="demo cursor" src="{{ biketravel.image3.url }}" style="width:100%" onclick="currentSlide(3)" alt="{{biketravel.title}}">
            </div>
            <div class="column">
              <img class="demo cursor" src="{{ biketravel.image4.url }}" style="width:100%" onclick="currentSlide(4)" alt="{{biketravel.title}}">
            </div>
            <div class="column">
              <img class="demo cursor" src="{{ biketravel.image5.url }}" style="width:100%" onclick="currentSlide(5)" alt="{{biketravel.title}}">
            </div>
            <div class="column">
              <img class="demo cursor" src="{{ biketravel.image6.url }}" style="width:100%" onclick="currentSlide(6)" alt="{{biketravel.title}}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>{{ biketravel.title }}</h2>
          <p>{{ biketravel.description }}</p>
        </div>
      </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
<script type="text/javascript">

        var map = L.map('map').setView([{{biketravel.latitude}}, {{biketravel.longitude}}], 7);

        var ocm = L.tileLayer('https://tile.thunderforest.com/cycle/{z}/{x}/{y}.png?apikey=cd56115c8eca4973aa4117461a378787', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        var OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        });

        // water color
        var watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            subdomains: 'abcd',
            minZoom: 1,
            maxZoom: 16,
            ext: 'jpg'
        });

        // dark map
        var dark = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 19
        });
        // google street
        googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        //google satellite
        googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var OpenTopoMap = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        });


        /*==============================================
                        LAYER CONTROL
        ================================================*/
        var baseMaps = {
            "OpenCycleMap": ocm,
            "OSM": osm,
            'Dark': dark,
            'Google Street': googleStreets,
            "Google Satellite": googleSat,
            "Topo Map": OpenTopoMap,
        };


        var tiles = L.tileLayer('https://tile.thunderforest.com/cycle/{z}/{x}/{y}.png?apikey=cd56115c8eca4973aa4117461a378787').addTo(map);

    console.log('{{ biketravel.gpx.url }}');
    var gpx = '{{ biketravel.gpx.url }}'; // URL to your GPX file or the GPX itself
    new L.GPX(gpx, {async: true,
                    marker_options: {
                        startIconUrl: '{{none}}', //'{{ ic.start_flag.url }}',
                        endIconUrl: '{{none}}', //{{ ico.end_flag.url }}',
                        shadowUrl: '{{none}}'
                        },
                    polyline_options: {
                        color: '{{ color }}',
                        opacity: 0.75,
                        weight: 3,
                        lineCap: 'round'
                        },
        }).on('loaded', function(e) {
    }).addTo(map).bindPopup("<a href=#>test</a><br>");


</script>
<!--Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom JS code after importing jquery and owl -->
<script type="text/javascript">
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

{% endblock %}


